.footer {
  background: var(--d-text-weak);
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
  margin-top: auto;
}

.header {
  background: var(--d-text-weak);
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
}