:root {
  /* COLOR */
  --additional-colors-blue-processing: hsl(211, 100%, 57%);
  --additional-colors-green-success: hsl(126, 59%, 46%);
  --additional-colors-orange-default: hsl(22, 100%, 49%);
  --additional-colors-red-error: hsl(6, 91%, 57%);
  --additional-colors-yellow-warning: hsl(45, 100%, 49%);
  --background-dark: hsl(198, 25%, 10%);
  --background-light: hsl(0, 0%, 100%);
  --background-opacity: hsla(0, 0%, 0%, 0.5);
  --cta-default: hsl(6, 76%, 47%);
  --cta-hover: hsl(6, 93%, 58%);
  --cta-pressed: hsl(5, 75%, 40%);
  --d-border-clickable: hsl(200, 5%, 37%);
  --d-border-decorative: hsl(202, 8%, 28%);
  --d-content-gray: hsl(0, 0%, 88%);
  --d-disabled-background: hsl(200, 11%, 16%);
  --d-disabled-border: hsl(203, 6%, 25%);
  --d-disabled-content: hsl(190, 4%, 30%);
  --d-disabled-text: hsl(200, 3%, 60%);
  --d-surface-decorative-blue: hsl(207, 44%, 15%);
  --d-surface-decorative-green: hsl(155, 33%, 13%);
  --d-surface-decorative-orange: hsl(23, 18%, 14%);
  --d-surface-decorative-red: hsl(354, 14%, 15%);
  --d-surface-decorative-yellow: hsl(68, 21%, 14%);
  --d-surface-gray: hsl(198, 22%, 12%);
  --d-surface-gray-2: hsl(196, 15%, 15%);
  --d-surface-gray-3: hsl(202, 11%, 19%);
  --d-text-link: hsl(211, 98%, 54%);
  --d-text-link-used: hsl(211, 53%, 59%);
  --d-text-main: hsl(0, 0%, 97%);
  --d-text-weak: hsl(195, 5%, 56%);
  --d-text-weaker: hsl(190, 4%, 33%);
  --l-border-clickable: hsl(180, 2%, 82%);
  --l-border-decorative: hsl(0, 0%, 89%);
  --l-content-gray: hsl(202, 8%, 28%);
  --l-content-white: hsl(0, 0%, 100%);
  --l-disabled-background: hsl(0, 0%, 94%);
  --l-disabled-border: hsl(0, 0%, 86%);
  --l-disabled-content: hsl(192, 3%, 68%);
  --l-disabled-text: hsl(195, 3%, 46%);
  --l-surface-decorative-blue: hsl(213, 100%, 98%);
  --l-surface-decorative-green: hsl(127, 47%, 96%);
  --l-surface-decorative-orange: hsl(23, 100%, 97%);
  --l-surface-decorative-red: hsl(9, 88%, 97%);
  --l-surface-decorative-yellow: hsl(43, 100%, 96%);
  --l-surface-gray: hsl(180, 4%, 95%);
  --l-surface-gray-2: hsl(210, 4%, 91%);
  --l-surface-gray-3: hsl(200, 3%, 77%);
  --l-surface-white: hsl(0, 0%, 100%);
  --l-text-link: hsl(211, 100%, 42%);
  --l-text-link-used: hsl(211, 53%, 59%);
  --l-text-main: hsl(198, 25%, 10%);
  --l-text-weak: hsl(195, 3%, 46%);
  --l-text-weaker: hsl(195, 2%, 65%);
  --l-text-white: hsl(0, 0%, 100%);
  --primary-default: hsl(22, 100%, 49%);
  --primary-hover: hsl(22, 94%, 56%);
  --primary-pressed: hsl(22, 100%, 45%);
  --secondary-default: hsl(211, 100%, 42%);
  --secondary-hover: hsl(211, 76%, 50%);
  --secondary-pressed: hsl(211, 100%, 35%);
  --ui-decorative-light-blue: hsla(211, 100%, 57%, 0.05);
  --ui-decorative-light-green: hsla(126, 59%, 46%, 0.07);
  --ui-decorative-light-orange: hsla(22, 100%, 49%, 0.05);
  --ui-decorative-light-red: hsla(6, 91%, 57%, 0.07);
  --ui-decorative-light-yellow: hsla(45, 100%, 49%, 0.07);
}
