.footer {
  background: var(--l-text-link-used);
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
  margin-top: auto;
}

.header {
  background-color: var(--l-text-link-used);
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
}