.footer {
  background: #549978;
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
  margin-top: auto;
}

.header {
  background-color: #549978;
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
}